@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
 :root {
    --pri: rgb(203, 95, 95);
    --sec: #2b2d2d;
    --ter: wheat;
    --sep:black;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    min-width: 100px;
    /* overflow: hidden; */
    background-color: var(--sec);
}

.main{
    background-image: url("pics/3395347_58379.svg");
    background-position: center center;
    background-size: max(1080px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.905);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2d2d;
}

/* Style for individual list items (links) */
li {
    float: right;
    font-size: 30px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
}

li a {
    display: block;
    color: var(--ter);
    text-align: center;
    padding-left: 6vw;
    padding-top: 5vh;
    padding-bottom: 1vh;
    padding-right: 5vw;
    text-decoration: none;
}
li a:hover {
    background-color: var(--pri);
}

.active {
    background-color: #fbfcfc; 
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.log {
color: var(--ter);
   float: left;
   position: fixed;
   padding-top: 1vh;
   font-size: 2.5rem;
   padding-left: 1vw;
   font-weight: 700px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: var(--pri);
}


.heading1 {
    padding: 70px 0;
    padding-top: 15vh;
    text-align: center;
    font-size: 50px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  
}
.des{
    padding: 70px 0;
    padding-top: 2vh;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 35px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  
}
.line{
    height: 100%;
    height: 5px;
    background-color:var(--sep);
}
.p1{
    
    padding-right: 2vw;
    padding-bottom: 2vh;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 20px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
}
.map{
    float: left;
    padding-top: 8vh;
}
.ex{
    padding-left: 50vw;
}
.h2{
    padding: 50px 0;
    padding-top: 10vh;
    text-align: center;
    font-size: 30px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
}