@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
 :root {
    --pri: rgb(203, 95, 95);
    --sec: #2b2d2d;
    --ter: wheat;
    --sep:black;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    min-width: 100px;
    /* overflow: hidden; */
    background-color: #232E41;
}

.main{
    background-image: url("pics/3395347_58379.svg");
    background-position: center center;
    background-size: max(1080px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
   
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2d2d;
}

/* Style for individual list items (links) */
li {
    float: right;
    font-size: 30px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
}

li a {
    display: block;
    color: var(--ter);
    text-align: center;
    padding-left: 6vw;
    padding-top: 5vh;
    padding-bottom: 1vh;
    padding-right: 5vw;
    text-decoration: none;
}
li a:hover {
    background-color: var(--pri);
    border-radius: 15px;
}

.active {
    background-color: #fbfcfc; 
}
ul {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.log {
color: var(--ter);
   float: left;
   position: fixed;
   
   padding-top: 1vh;
   
   padding-left: 1vw;
   font-weight: 700px;
}
.log img{
  height: 66px;
  width:66px;
}
.log1{
  height: 66px;
  width:66px;
  padding-left: 75em;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: var(--pri);
    color: white;
}



.heading1 {
        
    padding-top: 20vh;
    padding-bottom: 0vh;
    text-align: center;
    font-size: 50px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  
  
}
@media screen and (min-width: 400px) {
    .heading1 {
        
        padding-top: 20vh;
        padding-bottom: 0vh;
        text-align: center;
        font-size: 35px;
        color: var(--ter);
        font-family: "Baloo Bhai 2", sans-serif;
      
      
    }
    .des{
        overflow: hidden;
        font-size: 8px;
        color: var(--ter);
        font-family: "Baloo Bhai 2", sans-serif;
      }
      li {
        float: right;
        font-size: 8px;
        color: var(--ter);
        font-family: "Baloo Bhai 2", sans-serif;
      font-optical-sizing: auto;
    }
    .exp{
        position: absolute; 
        align-items: center;
        justify-content: center;
        
        color: var(--ter);
        left: 44%;
        font-family: "Baloo Bhai 2", sans-serif;
        font-size: 8px;
        background-color: var(--pri);
        border: 5px solid black;
        border-radius: 15px;
        
    }
  }
  .des1 img{
    width: 400px;
  }
.desc{
    padding: 70px 0;
    padding-top: 2vh;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 35px;
    color: var(--ter);
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  
}
.exp{
    
   
    color: var(--ter);
    
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 30px;
    background-color: var(--pri);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    
}
.des3 h1{
  font-family:"Baloo Bhai 2", sans-serif ;
    color: var(--ter);
}
.des1{
    float: right;   
    text-align: right; 
    font-size: 20px;
    font-family:"Baloo Bhai 2", sans-serif ;
    color: var(--ter);
    padding-top: 30em;
    padding-right: 5vw;
    background-color: black;
}
.des1 img{
    float: left;
    margin-left: 25px;
    padding-left: 4vw;
    
}
.des1 {
    float: right;
    
}
.des1 p{
    padding-left: 45%;
    padding-right: ;
}
.des1 h1{
    padding-right: 5vw;
}
.des1 h2{
    padding-right: 11vw;
}
.faq h2 {
    font-family: "Baloo Bhai 2", sans-serif;
    text-align: center;
    font-size: 48px;
}

.faq {
    font-family: "Baloo Bhai 2", sans-serif;
    padding-top: 5vh;
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}


.des2{
    float: left;
    text-align: left;
    background-color: var(--sec);
    font-size: 20px;
    font-family: "Baloo Bhai 2",sans-serif;
    color:var(--ter);
    padding-left: 5vw;
}
.des2 img{
    float: right;
    height: 350px;
    width: 400px;
    margin-right: 25px;
    padding-right: 4vw;
    padding-left: 3vw;
    padding-bottom: 10vh;

}
.des2 h2{
  width: 800px;
}
.search{
    float: right;
    align-items: right;
    justify-content: end;
}
.des3{
    position:absolute;
    padding-left: 22%;;
    height:27em;
    
    
    
    
    
}
.de3 h1{
    color: var(--ter);
}
.des4{
    float: right;   
    text-align: right; 
    font-size: 20px;
    font-family:"Baloo Bhai 2", sans-serif ;
    color: var(--ter);
    padding-right: 5vw;
    background-color: black;
    padding-bottom: 8em;
}
.des4 img{
    float: left;
    margin-left: 25px;
    padding-left: 4vw;
    
}
.des4 {
    float: right;
    
}
.des4 p{
    padding-left: 45%;
    padding-right: ;
}
.des4 h1{
    padding-right: 5vw;
}
.des4 h2{
    padding-right: 11vw;
}


.footer{
    padding-top: 30vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
/* body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
} */


  
  .contain{
    max-width: 1170px;
    margin: auto;
    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    background-color: #000000;
    padding: 70px 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
.footer h2{
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 10em;
  padding-right: 6em;
padding-top: 2em;
}
